*{
    padding: 0;
    margin: 0;
}

/* BG color */
body{
    background: rgb(152, 160, 187);
    /*background: linear-gradient(#FDFDFE, #EFF1F6, #E3e6f0, #d6dbea);*/

}


/* Nav bar*/
.logo{
    position: absolute;
    height: 63px;
    width: 190px;
    left: 2%;
    padding-top: 15px;
}
.navbar{
    height:80px;
    width: 100%;
    background: white;
    border-bottom: 5px outset;
}
.navbar .text{
    position: absolute;
    left: 18%;
    top: 20px;
    font-size: 30px;
    color: rgb(66, 66, 66);
}

.return_txt a{
    position: absolute;
    color: whitesmoke;
    margin-left: 70%;
    top: 10px;
    right: 30px;
    font-size: 22px;
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(152, 160, 187);
    padding: 16px;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.return_txt2 a{
    position: absolute;
    color: whitesmoke;
    top: 10px;
    right: 260px;
    font-size: 22px;
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(152, 160, 187);
    padding: 16px;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}
/* Nav bar*/



/* Footer */
.footbar{
    z-index: 1; /* This guarantees your item stays on top of anything that may appear on the page. Think like unity in 3D. */
    position: fixed;
    bottom:0;
    left:0;
    height:24px;
    padding-left: 6px;
    width: 100%;
    background: black;
    color: whitesmoke;
    border-bottom: 3px outset;
}
/* Footer */




/* WHITE BOX */
.white_box{
    position: absolute;
    background: linear-gradient(#FDFDFE, #EFF1F6, #E3e6f0, #d6dbea);
    padding: 20px;
    border-radius: 6px;
    
    width: 1010px;
    left: 0;
    right: 0;
    margin: auto;
}
/* WHITE BOX */



/* Mudanças texto */
.big_text{
    font-size: 22px;
    color: rgb(50,120,120);
    background:rgb(202, 215, 230);
    padding: 6px;
    border-radius: 10px;
}

.sumario_txt{
    text-align: center;
    font-size: 30px;
    color:rgb(12, 128, 51);
}

.sep li{
    margin-bottom: 18px;
}
/* Mudanças texto */



/* Scale up */
.scaleup:hover{
    transform: scale(2);
    display:inline-block; 
    transition: all 1s ease;
    cursor: pointer;
    z-index: 3;
}
/* Scale up */



/* TXT block */
.txt_block {
    display:block;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.3);
    padding: 20px 16px;
    font-size: 18px;
    margin-bottom: 25px;
    word-wrap: break-word; /* This makes text break to not create a horizontal box */ 
    overflow-y: auto; /* Make it able to scroll ONLY if it needs to */
}

.left .txt_block{ /* Putting txt block to the left */
    position: relative;
    display: inline-block;
    top: 25px;
    min-height: 300px;
    max-height: 600px;
    width: 430px;
}
/* TXT block */



/* VID block */
.vid_block{
    position: absolute;
    top: 80px;
    left: 500px;
    box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.8);
}
.vid_block .txt{
    position: absolute;
    bottom: -40px;
    left: 180px;
    font-size: 26px;
}
/* VID in block */


/* IMG block */
.center_img{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
}

/* IMG block */


/* Button */
.btn_area{
    padding: 50px;
}

.custom_btn{
    background-color: whitesmoke;
    border: #4f94cc solid 2px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    width: 250px;
    height: 100px;
    display: inline-block;
    box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.8);
}
.custom_btn .sm{
    width: 100px;
    height: 100px;
}
.custom_btn:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}
.custom_btn a{
    text-decoration: none;
}


.btn_img{
    margin: 4px;
    height: 63px;
    width: 63px;
    left: 10px;
}

.btn_txt{
    display: inline-block;
    position: relative;
    color: black;
    font-size: 20px;
    font-weight:bold;
    margin: 2px;
    top: 12px;
    width: 170px;
    height: 80px;
    word-wrap: break-word;
    overflow-y: auto; /* Make it able to scroll ONLY if it needs to */
}
/* Button */